
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#seach").click(function () {
                var param = {
                    userName: $("#txtUserName").val(),
                    remark: $("#txtRemark").val(),
                }
                loadData(param);
            });
                
            loadData();
            $('#addTable').css("display", "none");
            $('#updateTable').css("display", "none");
        });
        function afterUpdate(data) {
            if (data=="ok") {
                $('#updateTable').dialog('close');
                $('#updateForm input').val('');
                $("#tt").datagrid('reload');
            } else {
                $.messager.alert("提示", "更新记录失败！", "error");
            }
        }
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/UserInfo/GetUserInfoList',
                title: '用户数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载用户的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'UName', title: '姓名', width: 120 },
                    { field: 'UPwd', title: '密码', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '注册时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        deleteInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        addInfo();
                    }
                }, {
                    id: 'btnEidt',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {
                        showUpdateInfo();
                    }
                }],
            });
        }
        function showUpdateInfo() {            
            var rows = $("#tt").datagrid("getSelections");
            if (rows.length != 1) {
                $.messager.alert("提醒", "请选择一条的记录！", "error");
                return;
            }
            var id = rows[0].ID;
            $.post("/UserInfo/ShowUserInfo", { "id": id }, function (jdata) {
                var data = $.parseJSON(jdata);
                if (data!="no") {                   
                    $("#txtUName").val(data.UName);
                    $("#txtUPwd").val(data.UPwd);
                    $("#txtURemark").val(data.Remark);
                    $("#txtSort").val(data.Sort);
                    $("#txtDelFlag").val(data.DelFlag);
                    $("#txtSubTime").val(data.SubTime);
                    $("#txtID").val(data.ID);
                } else {
                    $.messager.alert("提醒", "参数有误！", "error");
                }                
            });
            $('#updateTable').css("display", "block");
            $('#updateTable').dialog({
                title: "修改用户信息",
                width: 400,
                height: 300,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [{
                    text: '修改',
                    iconCls: 'icon-ok',
                    handler: function () {
                        validataFrom($("#updateForm"));
                        $("#updateForm").submit();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#updateTable').dialog('close');
                    }
                }],
                modal: true
            });
        }
        function addInfo() {
            $('#addTable').css("display", "block");
            $('#addTable').dialog({
                title: "添加用户信息",
                width: 400,
                height: 300,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [{
                    text: '添加',
                    iconCls: 'icon-ok',
                    handler: function () {
                        validataFrom($("#AddForm"));
                        $("#AddForm").submit();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#addTable').dialog('close');
                    }
                }],
                modal: true
            });
        }
        function validataFrom(control) {
            control.validate({//表示对哪个form表单进行校验，获取form标签的id属性的值
                rules: {//表示验证规则
                    UName: "required",//表示对哪个表单元素进行校验，要写具体的表单元素的name属性的值
                    Remark: {
                        required: true
                    },
                    UPwd: {
                        required: true,
                        minlength: 5
                    },
                    Sort: {
                        required: true
                    }
                },
                messages: {
                    UName: "请输入用户名",
                    Remark: {
                        required: "请输入备注"
                    },
                    UPwd: {
                        required: "请输入密码",
                        minlength: jQuery.format("密码不能小于{0}个字 符")
                    },
                    Sort: {
                        required: "请输入排序"
                    }
                }
            });
        }
        function afterAdd(data) {
            if (data == 'ok') {
                $('#addTable').dialog('close');
                $('#AddForm input').val('');
                $("#tt").datagrid('reload');
            } else {
                $.messager.alert("提示", "添加记录失败！", "error");
            }
        }
        function deleteInfo() {
            var rows = $("#tt").datagrid("getSelections");
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择要删除的记录！", "error");
                return;
            }
            $.messager.confirm("提示", "确定要删除此数据吗？", function (r) {
                if (r) {
                    var rowsLength = rows.length;
                    var strId = "";
                    for (var i = 0; i < rowsLength; i++) {
                        strId = strId + rows[i].ID + ",";
                    }
                    strId = strId.substr(0, strId.length - 1);
                    $.post("/UserInfo/DeleteUserInfo", { "strId": strId }, function (data) {
                        if (data == "ok") {
                            $("#tt").datagrid("reload");
                        } else {
                            $.messager.alert("提示", "删除记录失败！", "error");
                        }
                    });
                }
            });

        }        
        //将毫秒转化为日期
        function GetDataTime(dataTime) {
            var data = new Date(parseInt(dataTime.replace("/Date(", "").replace(")/", ""), 10));
            var month = data.getMonth() + 1 < 10 ? "0" + (data.getMonth() + 1) : data.getMonth();
            var day = data.getDate() < 10 ? "0" + data.getDate() : data.getDate();
            return data.getFullYear() + "-" + month + "-" + day;
        }
    </script>
    <style type="text/css">
        .divstyle {
            margin-left: 20px;
            margin-top: 35px;
        }
    </style>
</head>
<body class="divstyle" style="background:url(../../Images/bg3.png) repeat-x 0px 0px;">
    <div class="divstyle">
        用户名:&nbsp;&nbsp;<input class="textbox" type="text" name="txtUserName" id="txtUserName" />&nbsp;&nbsp;
        备注:&nbsp;&nbsp;<input class="textbox" type="text" name="txtRemark" id="txtRemark" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" id="seach">Search</a>
    </div>
    <div style="margin-top:10px;">
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    <div id="addTable">
        @using (Ajax.BeginForm("AddUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "AddForm" }))
        {
            <table>
                <tr><td>用户名：</td><td><input type="text" name="UName" /></td></tr>
                <tr><td>密码：</td><td><input type="password" name="UPwd" /></td></tr>
                <tr><td>标记：</td><td><input type="text" name="Remark" /></td></tr>
                <tr><td>排序：</td><td><input type="text" name="Sort" /></td></tr>
            </table>
        }
    </div>
    <div id="updateTable">
        @using (Ajax.BeginForm("UpdateUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterUpdate" }, new { id = "updateForm" }))
        {
            <input type="text" name="ID" id="txtID"/>
            <input type="text" name="DelFlag" id="txtDelFlag"/>
            <input type="text" name="SubTime" id="txtSubTime"/>
            <table>
                <tr><td>用户名：</td><td><input type="text" name="UName" id="txtUName"/></td></tr>
                <tr><td>密码：</td><td><input type="password" name="UPwd" id="txtUPwd"/></td></tr>
                <tr><td>标记：</td><td><input type="text" name="Remark" id="txtURemark"/></td></tr>
                <tr><td>排序：</td><td><input type="text" name="Sort" id="txtSort"/></td></tr>
            </table>
        }
    </div>
</body>
</html>
